In [23]:
from modules.data_fetcher import get_ticker_prices
import pandas as pd
AAPL = get_ticker_prices('AAPL')
AAPL = pd.DataFrame(AAPL)


close_now = AAPL['close'].loc[len(AAPL)-1]
close_1yr = AAPL['close'].loc[len(AAPL)-(252)-1]
close_5yr = AAPL['close'].loc[len(AAPL)-(252*5)-1]
five_year_pct_change = (close_now - close_5yr) / close_5yr
one_year_pct_change = (close_now - close_1yr) / close_1yr

print(close_now)
print(close_1yr)
print(one_year_pct_change)



display(AAPL)

✅ Retrieved 6401 records for AAPL
198.15
167.78
0.18101084753844324

            date     open      high       low   close     volume
0     1999-11-01   80.000   80.6900   77.3700   77.62    2487300
1     1999-11-02   78.000   81.6900   77.3100   80.25    3564600
2     1999-11-03   81.620   83.2500   81.0000   81.50    2932700
3     1999-11-04   82.060   85.3700   80.6200   83.62    3384700
4     1999-11-05   84.620   88.3700   84.0000   88.31    3721500
...          ...      ...       ...       ...     ...        ...
6396  2025-04-07  177.200  194.1500  174.6200  181.46  160466286
6397  2025-04-08  186.700  190.3350  169.2101  172.42  120859491
6398  2025-04-09  171.950  200.6100  171.8900  198.85  184395885
6399  2025-04-10  189.065  194.7799  183.0000  190.42  121879981
6400  2025-04-11  186.100  199.5400  186.0600  198.15   87435915

[6401 rows x 6 columns]

In [15]:
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker
from data.models import Ticker, Price  # adjust path if needed

DATABASE_URL = 'sqlite:///portfolio.db'

engine = create_engine(DATABASE_URL)
Session = sessionmaker(bind=engine)
session = Session()

# Delete all data
print("⚠️ Deleting all price and ticker records...")

session.query(Price).delete()
session.query(Ticker).delete()
session.commit()
session.close()

print("✅ All data deleted. Your database is now empty.")

⚠️ Deleting all price and ticker records...
✅ All data deleted. Your database is now empty.